<div class="container bs-docs-container">
    <form class="form-horizontal" ng-submit="signin()" ng-if="!sign_up">
        <div class="alert alert-danger" role="alert" ng-if="error">{{ error }}</div>
        <div class="alert alert-info" role="alert" ng-if="status">{{ status }}</div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input type="email" ng-model="form.email" class="form-control" placeholder="Email">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" ng-model="form.password" class="form-control" placeholder="Password">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>

        <div class="form-group" ng-if="config.signup">
            <div class="col-sm-offset-2 col-sm-10">
                <i>Registrazione <a ng-click="$parent.$parent.sign_up=true">qui</a></i>
            </div>
        </div>
    </form>
    <form class="form-horizontal" ng-submit="signup()" ng-if="sign_up">
        <div class="alert alert-danger" role="alert" ng-if="error">{{ error }}</div>
        <div class="alert alert-info" role="alert" ng-if="status">{{ status }}</div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input type="email" ng-model="form.email" class="form-control" placeholder="Email">
            </div>
        </div>

        <div class="form-group" ng-if="sign_up">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" ng-model="form.name" class="form-control" placeholder="Name">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" ng-model="form.password" class="form-control" placeholder="Password">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Registrati</button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <i>Login <a ng-click="$parent.sign_up=false">qui</a></i>
            </div>
        </div>
    </form>
</div>
